// Variables Principales para definir el Tema del proyecto.
// @import "./default-fuentes";

// Colores
$color-secundario: #2A3132;
$color-principal: #01C6B4; //#F66654;
$color-terciario: #297FB8;
$color-menu-opciones: #3297DB;
$color-fondo-sidebar: #7E7E7E;
$color-fondo: #ffffff;
$color-gris-scroll: #D0D0D0;


// Colores definidos por Victor
$color-rojo: #8f3147;
$color-verde: #0f8031;
$color-azul: #123456;
$color-amarillo: #ebb736;
$color-naranja: #F89406;
$color: #000000;
// Colores de fuentes
$color-texto-principal: #fff;
$color-texto-secundario: #000;
$color-texto-terciario: #959595;

// Tamanio fuentes
$tamanio-fuente-principal: 16px;
$tamanio-fuente-mediano: 14px;
$tamanio-fuente-pequenio: 12px;

// Colores Botones
$color-btn-info: #2889A8;
$color-btn-succes: #01C6B4; //#51A351;
$color-btn-warning: #F89406;
$color-btn-danger: #f25353; //#BD362F;
$color-btn-aceptar: #009177;

$color-btn-verde: #2ecc71;
$color-btn-amarillo: #4bd6d7;

// Colores Elemento lista

$color-hover-elemento: #E0E4CC;

// Colores para los trofeos

$color-icon-oro: #F4FB05;
$color-icon-plata: #B2CED1;
$color-icon-bronce: #CD7F32;
$color-icon-reprobado: #EA2414;


// Fonts
//$tipo-fuente-principal:   'PoppinsRegular', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
//$tipo-fuente-secundaria:   'PoppingsLight',  'Georgia', 'Times', 'Times New Roman', serif;
//$tipo-fuente-codigo:   'PoppingsMedium', 'Source Code Pro', 'Consolas', 'Courier', monospace;
//$tipo-fuente-comic:   'BangersRegular', 'Comic Sans', 'Consolas', 'Courier', monospace;
//

