$mini-mobile: 480px ;
$mobile:      640px;
$phablet:     840px ;
$tablet:      1024px ;
$laptop:      1440px ;
$desktop:     1900px ;
@mixin orientacion($pTipo) {
    @if $pTipo == 'Landscape' {
        @media (orientation: $pTipo) { @content ; }
    }
    @if $pTipo == 'Portrait' {
        @media (orientation: $pTipo) { @content ; }
    }
}
@mixin responsivo($point) {
    @if $point == tv {
        @media screen and  (min-width: $desktop + 1px) { @content ; }
    }
    @if $point == desktop {
        @media screen and  (min-width: $laptop + 1px) and (max-width: $desktop) { @content ; }
    }
    @else if $point == laptop {
        @media screen and  (min-width: $tablet + 1px ) and (max-width: $laptop) { @content ; }
    }
    @else if $point == tablet {
        @media screen and  (min-width: $phablet + 1px) and (max-width: $tablet) { @content ; }
    }
    @else if $point == phablet {
        @media screen and  (min-width: $mobile + 1px) and (max-width: $phablet ) { @content ; }
    }
    @else if $point == mobile {
        @media screen and  (min-width: $mini-mobile + 1px) and (max-width: $mobile) { @content ; }
    }
    @else if $point == mini-mobile {
        @media screen and (max-width: $mini-mobile)  { @content ; }
    }
}

// Mixin para determinar el ancho de un elemento..
@mixin tamanioWidth($tamanio) {
    width: $tamanio;
}


// Mixin para aplicar en modo fullscreen
@mixin fullscreen() {
    &:-webkit-full-screen {
        @content;
    }
    &:-mozilla-full-screen {
        @content;
    }
    &:-ms-full-screen {
        @content;
    }
    &:-ms-fullscreen {
        @content;
    }
    &:full-screen {
        @content;
    }
}

// Mixin para detectar cual es el navegador actual.
@mixin navegador($browsers: mozilla) {
    @each $browser in $browsers {
        html[data-browser*="#{$browser}"] & {
            @content;
        }
    }
}
