.containerCampoLabel {
  width: 100%;
  display: inline-block;
  word-wrap: break-word;
  padding-left: .5em;
  padding-right: .5em;


  .tituloCampoLabel {

    width: 100%;
    margin-top: 7px;
    word-break: break-word;
    margin-bottom: 20px;
    position: relative;
    justify-content: center;
    text-align: center;

  }
}
